@page
@model HUAPICore.Pages.EMR.Audit.AppointmentAuditsModel
@using Syncfusion.EJ2
@{
    ViewData["Title"] = "Appointment Audits";
}

<h2>Appointment Audits</h2>

@{
    var value = new object[] { new DateTime(2005, 05, 01, 12, 0, 0), new DateTime(2018, 1, 31, 12, 0, 0) };
}
<ejs-rangenavigator id="rangeNavigator" valueType="DateTime" labelFormat="MMM-yy" value="@value">
    <e-rangenavigator-rangenavigatorseriescollection>
        <e-rangenavigator-rangenavigatorseries xName="x" yName="y" dataSource="@Model.dataSource" type="Area">
        </e-rangenavigator-rangenavigatorseries>
    </e-rangenavigator-rangenavigatorseriescollection>
</ejs-rangenavigator>
